.active {
  background-color: #E74C3C;
  color: #fff;
}

.inactive { color: #000; }

body {
  padding: 0;
  margin: 0;
  letter-spacing: 1px;
}

nav#navigation {
  left: 0;
  top: 0;
  padding: 5px 0;
  height: 45px;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  background-color: #34495E;
  overflow-y: hidden;
  z-index: 1000;
}

ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

ul.menu li {
  outline: none;
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
}

ul.menu li a {
  padding: 20px;
  text-decoration: none;
  color:#fff;
}

ul.menu li a:hover {
  background-color: #E74C3C;
}

ul.menu li a:focus { outline: none; }

/************************************************************************************************
Estilos home
************************************************************************************************/
#section_1, #section_3, #section_4, #section_5{
  width:100%;
  height: auto;
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif!important;
}
#section_2{
  width:100%;
  height: auto;
  padding-top: 0px;
  font-family: 'Open Sans', sans-serif!important;
text-align: center!important;
}

#section_6 {
  width:100%;
  height: auto;
  font-family: 'Open Sans', sans-serif!important;

}

#section_1 {
  background-image: url(https://d1dxeoyimx6ufk.cloudfront.net/uploads/NA5/OD7908/7D326F38.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.logoDesafio{
  width:100%;
}

.contenedorLogosInicio .col-xs-12, .contenedorLogosInicio .col-md-12{
  padding-right: 0!important;
  padding-left: 0!important;
}

.parrafoSeccion{
  text-align: justify;
  color:#043B84!important;
}

.parrafoSeccion {
  font-size: 20px;
  text-align: justify;
  color:#00a4e2;
}

.participaAhora:link, .descargarBases:link, .participaAhora:visited .descargarBases:visited, .participaAhora:active, .descargarBases:active, a {
  text-decoration:none;
}

.participaAhora{
  background-color:#00a4e2;
}

.descargarBases{
  background-color:#00a4e2;
}

.participaAhora:hover{
  text-decoration:none;
  border:2px solid #00a4e2;
  background-color:transparent;
  color:#036BAD!important;
}

.descargarBases:hover{
  text-decoration:none;
  border:2px solid #00a4e2;
  background-color:transparent;
 color:#036BAD!important;
}

.participaAhora, .descargarBases{
  font-size:18px;
     padding: 8px 20px;
  margin:24px;
  border-radius: 1px 10px 1px 10px;
}

.contenedorParticipar {
  margin-top: 3%;
  margin-bottom: 1%;
  display:inline-block;
}

.parrafoInvita {
  padding:6% 5% 2% 5%;
  text-align: justify;
}

.parrafoInvita2{
  padding:2% 5%;
  color:#00a4e2!important;
  text-align: center;
}

.titulos {
  font-size: 30px;
  padding: 0;
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
  color:#0871b8;
}

.subTituloSeccion12 {
  font-size:30px;
  color: #0d73b8;
  font-weight: bold;
  padding-top: 15%;
}

.tituloQuienes{
  font-size:27px;
  color: #0871b8;
  font-weight: bold;
  margin-top: 5%;
}

.contenedorParrafoSeccion1 hr {
  width: 150px;
  display: inline-block;
}

.contenedorIconosQuienes{
  text-align: center;
  padding: 2% 10% 15% 10%;
}

.contenedorIcono p{
  padding:0% 5%;
}

.contenedorIcono img{
  padding-bottom: 5%;
  padding-top: 15%;
}

.textoMayusculas {
  font-size: 18px;
  text-align: justify;
  color:#00a4e2;
}

/*Escondiendo Login*/
.enterprise_login_widget{
  display:none;
}

/*Seteando el row de bootstrap*/
.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.editRow {
  padding: 0px 1% 2% 1%;
}

/*Segunda sección*/
#section_2 {
  background-color: #F2F6F8;

}

.tituloSlider {
  font-size: 30px;
  padding: 0;
}

.parrafoSlider{
  font-size: 20px;
}

/*Estilos banner*/

/* Contenedor de las diapositivas*/
.slideshow {
  width: 100%;
  position: relative;
}

.slider li, ul {
  width: 100%;
}

.slider li {
  overflow: hidden;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.slider li img {
  width: 100%;
}

/* Texto de las diapositivas*/
.slider .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 110px 50px 15px 100px;
  /*Centrar*/
  display: flex;
  /*Posisionando textos en columnas*/
  flex-direction: column;
  color: #fff;
  /*z-index: 1;*/
}

.pagination li {
  font-size: 20px;
  margin: 2px 5px;
  color: #858585;
  cursor: pointer;
}

/*Flechas*/
.left, .right {
  position: absolute;
  top: 20%;
  height: 60px;
  display: flex;
  align-items: center;
  color:#00A3E1;
  font-size: 45px;
  cursor: pointer;
  /*z-index: 2;*/
  background: rgba(0,0,0,0.2);
}

.left:hover, .right:hover {
  background: rgba(0,0,0,0.7);
}

.left {
  left: 30px;
}

.right {
  right: 30px;
}

.img-responsive{
    display: inline-block !important;
}

.textoCaption {
  background: rgba(0,0,0,0.3);
  width: 95%;
  display: inline-block;
  padding: .5% 2%;
}

/*Sección cómo participar, tercera sección*/
#section_3 {
  background-image: url(https://d1dxeoyimx6ufk.cloudfront.net/uploads/NA5/OD7908/74417ACC.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 100px;
  padding-top:8%;
}

#section_3 .col-xs-6, #section_3 .col-md-3{
  padding:0!important;
}

.tituloParticipar{
  padding-bottom:5%;
}
.contenedoresComoParticipar .parrafoSeccion{
color:#00a4e2!important;
}

.titulosIconosParticipar{
  font-weight: bold;
  color:#2B59A4!important;
  border-bottom: 2px solid#2B59A4;
font-size:23px;
text-align: left;
}
.contenedoresComoParticipar a{
color:#00a4e2!important;
}
#section_3 .parrafoSeccion{
  padding: 0 0 0 5%;
font-size:13px;
}

.contenedoresComoParticipar{
  padding:2%;
  background: rgba(157,205,242,0.1);
  margin-bottom:2%;
  border-radius: 10px;
    color: #00a4e2!important;

}

.imagenPersonas{
  margin-top:3%;
}

.contenedoresComoParticipar img{
  width:85%;
  height:auto;
}

.imagenPersonas img{
  width:100%;
  height:auto;
}

#section_3 .participaAhora, #section_3 .descargarBases {
  font-size:20px;
}

.contenedorComputador {
  margin-top: -50px;
  background-image:url(https://d1dxeoyimx6ufk.cloudfront.net/uploads/NA5/OD7709/179E864E.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  height:300px;
}


/*Sección etapas, cuarta sección*/
#section_4 {
  background-color: #00A3E1;
  padding-top:8%;
}

.tituloEtapas, .parrafoEtapas, .subTituloEtapas{
  color:#FFF;
}

.parrafoEtapas{
  text-align:justify;
  padding: 0 7%;
}

.contenedorTodasLasEtapas{
  padding:0 5% 5% 5%;
}

.contenedorIMGEtapas img{
  width:210px;
  height:auto;
 }
.contenedorIMGEtapas {
padding-top:20%; 
}

.subTituloEtapas{
  font-size:20px;
  color:#fff;
}
.fechasEtapas{
 font-size:15px;
  color:#fff;
  padding:0 0 10% 0;
}
.espacioEtapas{
  width:10%;
}

.contenedorMetaPersona {
  margin-top: -80px;
  background-image:url(https://d1dxeoyimx6ufk.cloudfront.net/uploads/NA5/OD7908/D40DFBDC.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  height:300px;
}

#section_4 .participaAhora {
  font-size:18px;
  border:2px solid #fff;
}

#section_4 .contenedorParticipar{
  margin-top: 10%;
}

/*Sección premios, quinta sección*/
#section_5{
  background-color:#fff;
}

#section_5 .titulos{
  padding-top:5%;
  
}

#section_5 .contenedorCadaPremio {
    font-size: 12px;
    margin: 10px;
    border: 2px solid #1F568E;
    height: 250px;

    text-align: center;
margin-top: 10%;
}

#section_5 hr{
  width:60px;
  border: 2px solid #1071b4;
display: inline-block;
margin-top: 10px!important;
}

.imgIconoPremios{
  display:block;
  margin:auto;
  width:130px;
  height:auto;
  margin-top:-60px;
  margin-bottom:10%;

}
.contenedorBTNParticipar{
  padding:2% 0;
}

#section_5 .participaAhora{
  padding:10px;
  background-color:#00A3E1;
  color:#fff;
}

#section_5 .participaAhora:hover{
  color:00A3E1#!important;
  border:2px solid #61b7ed!important;
 background-color:#F5F5F5;
}

.textoMayusculasPremio{
  color:#1071b4;
  font-weight: bold;
  margin: 5%;
}

.parrafoSeccionPremio{
  color:#0F70B3;
  font-size: 35px;
  font-weight: bold;
  bottom: 20pt;
  position: absolute;
  left: 0;
  right: 0;
}

.contenedorPremios{
  padding:0 5%;


}


/*Sección FAQ, sexta sección*/
#section_6 {
  background-color: #fff;
  /*
  background-image: url(https://d3jqq3cy6vtj1r.cloudfront.net/Coordinador/DesafioFlash/imgPlatagorma/Fondos/preguntasFrecuentesFondo.png);
  background-size: cover;
  background-position: center top;
  */
  color: #000;
 padding: 0 7%;
 
}

.contenedorPreguntasFrecuentes{
  
}
.contenedorPreguntasFrecuentes .linea2{

color:#1D4173;
}

.editRowPreguntasFrecuentes{
  padding: 0% 5% 5% 5%;
  font-size: 20px;
}

h2 {
  font: 33px sans-serif;
  text-align: center;
}
h2.linea2 {
  position: relative;
  z-index: 1;
  margin-top:0!important;
}
h2.linea2:before {
  border-top: 2px solid #1D4173;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  z-index: -1;
}

.tituloPreguntasFrecuentes{
  display: inline-block;
  background-color:#fff;
  padding: 0 2%;
}

.preguntasFrecuentes{
  text-transform: uppercase;
  background-color:#043882;
  padding: 1% 3%;
  margin:3px 0 0 0 ;
}

#section_6 .editRowPreguntasFrecuentes .respuestaFecuentes{
  background-color: #BBE6F9;
  padding: 0% 5%;
color:#1D4173;

}

.contenedorPreguntaRespuesta{
  margin-top: 3px;
}


.preguntaAcriva{
  background-color:#69BFF9!important;
}

.respuestasInactivas{
  display: none;
}

/*FAQS*/
.faq_question {
  cursor: pointer;
}

.faq_answer_container {
  height: 0px;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
.contenedorParticipar{
margin-top:15%;
}
  .logoDesafio{
    margin-top: 5%;
  }
.img-escritorio{
display:none;
}
  .parrafoInvita {
    padding:6% 2% 2% 2%;
    text-align: justify;
  }
  .parrafoInvita2{
    padding:2%;
  }
  .editRow {
    padding: 60px 1% 2% 1%;
  }
  .subTituloSeccion12{
  font-size:25px;
  }
  .subSection12 .col-xs-12{
    padding:0;
  }
  .slider .caption {
    padding: 5px 35px 5px 53px;
  }
  .left {
    left: 3px;
  }
  .right {
  right: 3px;
  }
  .imagenPersonas img{
    width:100%;
    height:auto;
  }
  .contenedoresComoParticipar img{
    width:100%;
    height:auto;
    padding-top:35%;
  }
  .titulos {
    font-size: 27px;
  }
  .contenedorComputador{
    margin-top: 0px;
  }
  .contenedorMetaPersona {
    margin-top: 50px;
  }
  #section_5 .contenedorCadaPremio {
    margin-top: 25%;
height: 250px;
width:80%;
  }
  .btnPremiosParticipar{
    font-size: 25px;
    padding: 5px 90px;
  }
  .formularioDatosTaller{
    padding: 0 5%;
    color:#fff;
  }
  .contenedorBTNParticipar{
  
  }
  .contenedorTaller{
    padding: 0px ;
  }

  .contenedorBTNParticipar {
    padding: 15% 0;
}

#section_4 .contenedorParticipar {
    margin-top: 0;
}
.contenedorParticipar {
    
}
.tituloSlider {
    font-size: 19px;
}
}

@media (min-width: 1500px) {

.contenedorComputador{
  height:450px;
}
.contenedorMetaPersona{
  height:450px;
}

}

.btnPremiosParticipar{
  font-size:23px;
}

p.parrafoSeccionPremio1 {
    color: #0F70B3;
}

p.textoMayusculasPremio1 {
    color: #1071b4;
    font-weight: bold;
    margin: 13%;
}

.subTituloSeccion121 {
    font-size: 30px;
    color: #0d73b8;
    font-weight: bold;
    padding-top: 65px;
margin-bottom: 25px;
}
.panel-default > .panel-heading {
  background-color: #00A3E1 !important;
}

.navbar-default {
  border-radius: 0!important;
  background-color: #1071b4!important;
  font-family: 'Open Sans', sans-serif!important;
}

.navbar-collapse {
  border-top: 0!important;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  border-bottom: 1px solid #0169ae;
}
#menuCelular{
  font-family: 'Open Sans', sans-serif!important;
}



@media (min-width: 750px) {
  #menuCelular{
    
  }
  .img-celular{
    display:none;
  }
}

.img-escritorio{
padding-right: 20px;
}
